*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.kontener {
    width: 500px;
    margin: 0 auto;
}

.wrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 325px;
    min-height: 100vh;
}

.content {
    margin: 30px;
    justify-content: center;
}
.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

button {
    border: none;
    background-color:darkturquoise;
    padding: 15px;
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
    font-weight: 600;
    margin-top: 5px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(109, 235, 237);
    transition: 0.5 all ease-in-out;
}
input {
    border: none;
    background-color: #eaeaea;
    color: black;
    padding: 15px;
    font-size: 20px;
    margin-top: 5px;
}

#pertanyaan {
    font-size: 1.7em;
    font-weight: 500;
}

#load {
    display: none;
    width: 90px;
    height: 90px;
    position: absolute;
    border-top: 13px solid darkturquoise;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 9;
    animation: 2s spining infinite linear;
}

@keyframes spining {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
